<br>
<br>
<br>
<div class='jumbotron'>
  <div class='container'>
    <div class='row'>
      <div class='well well-lg col-xs-7'>
        <h3>As a premier tutoring company, Peeach's network plans to connect the best tutors with passionate learners.</h3>
        <!-- test height -->
        <br>
        <ul style="list-style-type:circle">
          <li><strong>Requirements:</strong> We welcome current students, graduates, professional tutors<br> and teachers to become Peeach tutors. 
          Current students must have a minimum <br>3.3/4.0 GPA to tutor. Graduates must have graduated with a minimum 3.3/4.0 GPA.</li><br>
          <li><strong>Convenience:</strong> Our easy to use system allows students to find, communicate<br> and book a tutoring session with you.</li><br>
          <li><strong>Flexibility:</strong> You choose when and where you want to work. It’s entirely up to you.</li><br>
          <li><strong>Pay:</strong> You set an hourly wage for your tutoring services starting at $15.00 an hour.<br> We send you a payment to your bank account at the end of every month.<br><br> 
          In order for Peeach to continually improve and provide our tutors and students<br> with the best platform possible, we take a 20% commision fee for every transaction. </li>
        </ul>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>

      <div class='well well-lg col-xs-5'>
        <h2>Edit <%= resource_name.to_s.humanize %></h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, role: 'form', class: 'form-horizontal' }) do |f| %>
          <%= f.input :email, placeholder: 'user@domain.com', label: false %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <fieldset>
            <p>Leave these fields blank if you don't want to change your password.</p>
            <%= f.input :password, placeholder: 'NEW PASSWORD', label: false %>
            <%= f.input :password_confirmation, placeholder: 'RE-TYPE NEW PASSWORD', label: false %>
          </fieldset>
          <%= f.input :postal_code, placeholder: 'Postal/Zip Code', label: false %>
          <fieldset>
            <p>You must enter your current password to make changes.</p>
            <div class="form-group">
              <%= f.input :current_password, placeholder: 'current password', class: 'form-control', label: false %>
            </div>
          </fieldset>
          <%= f.submit 'Update', class: 'btn-success btn-lg center-block' %>
        <% end %>

        <h2>Cancel Account</h2>
        <p>Unhappy? We'll be sad to see you go.</p>
        <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn-danger btn-lg center-block' %>
      </div>
    </div>
  </div>
</div>
