<br>
<br>
<br>
<div class='jumbotron'>
  <div class='container'>
    <div class='row'>
      <div class='well well-lg col-xs-7'>
        <h3>As a premier tutoring company, Peeach's network plans to connect the best tutors with passionate learners.</h3>
        <!-- test height -->
        <br>
        <ul style="list-style-type:circle">
          <li><strong>Requirements:</strong> We welcome current students, graduates, professional tutors<br> and teachers to become Peeach tutors. 
          Current students must have a minimum <br>3.3/4.0 GPA to tutor. Graduates must have graduated with a minimum 3.3/4.0 GPA.</li><br>
          <li><strong>Convenience:</strong> Our easy to use system allows students to find, communicate<br> and book a tutoring session with you.</li><br>
          <li><strong>Flexibility:</strong> You choose when and where you want to work. It’s entirely up to you.</li><br>
          <li><strong>Pay:</strong> You set an hourly wage for your tutoring services starting at $15.00 an hour.<br> We send you a payment to your bank account at the end of every month.<br><br> 
          In order for Peeach to continually improve and provide our tutors and students<br> with the best platform possible, we take a 20% commision fee for every transaction. </li>
        </ul>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>

      <div class='well well-lg col-xs-5'>
        <h2><strong>BECOME A <br>PEEACH TUTOR</strong></h2>
        <br>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form', class: 'form-horizontal' }) do |f| %>
          <%= f.input :first_name, placeholder: 'FIRST NAME', label: false %>
          <%= f.input :last_name, placeholder: 'LAST NAME', label: false %>
          <%= f.input :email, placeholder: 'YOUR EMAIL ADDRESS', label: false %>
          <%= f.input :password, placeholder: 'PASSWORD', label: false %>
          <%= f.input :password_confirmation, placeholder: 'CONFIRM YOUR PASSWORD', label: false %>
          <%= f.input :postal_code, placeholder: 'POSTAL/ZIP CODE', label: false %>
          <br>
          <%= f.submit 'Build my Profile!', class: 'btn-success btn-lg center-block' %>
          <br>
          <br>
        <% end %>
      </div>
    </div>
  </div>
</div>
