<div class="banner1">
<img src="http://peeach.com/wp-content/uploads/2016/06/banner1.jpg" alt="university students" width="2500" height="650px"/>
<h1> GET TUTORED </h1>
<h2> It's simple, affordable and convenient</h2><br />
<a href="" class="btn btn-large btn-success book a tutor">BOOK A TUTOR</a>
<h3> K-12, College and University Tutors<br /><br /> 100% Satisfaction Guaranteed<br /><br /> Easy Online Scheduling<br /><br /> Tutors have a minimum B+ average</h3>
</div>

<div class="banner2">
<p><h3> Peeach tutors are students from the top universities in Canada</h3> </p>
	<div class="imgContainer">
		<img src="http://peeach.com/wp-content/uploads/2016/05/university-of-calgary.png" alt="uofclogo" width="100px" height="100px"/>
	</div>
	<div class="imgContainer">
		<img src="http://peeach.com/wp-content/uploads/2016/05/UOFA-1.png" alt="ualbertalogo" width="100" height="100"/>
	</div>
	<div class="imgContainer">
		<img src="http://peeach.com/wp-content/uploads/2016/05/UBC.png" alt="ubclogo" width="100" height="100"/>
	</div>
	<div class="imgContainer">
		<img src="http://peeach.com/wp-content/uploads/2016/05/logo_uoft.png" alt="utorontologo" width="150px" height="250px"/>
	</div>
</div>

<div class="banner3">
<p><img src="http://peeach.com/wp-content/uploads/2016/05/placeit-51-copy.png" alt="girl" width="400" height="400"/>
<h3>Whether you’re a student struggling to make ends meet
or you just need to get your grades up, we got you
covered</h3>
<h4>You can tutor or get tutored in-person or over a video call built right into our platform.</h4></p>
</div>

<div class="banner4">
<a href="" class="btn btn-large btn-success be a tutor">BE A TUTOR</a>
</div>

<div class="banner5">
<p><img src="http://peeach.com/wp-content/uploads/2016/05/placeit-58.png" alt="boy" width="400" height="400"/>
<h3>Peeach makes it easy for parents and students to get the tutoring resources they need. 
Our on-boarding process for tutors allows us to have top quality tutors that are qualified to teach the courses that our customers need help with.</h3></p>
</div>

<div class="banner6">
<img src="http://peeach.com/wp-content/uploads/2016/06/Banner5.jpg" alt="banner5"/ width ="900px" height="400px"/>
<a href="" class="btn btn-large btn-success book now">BOOK NOW</a>
</div>
