<h1>Our Values | Innovation. Teamwork. Craftsmanship. Mindfulness.</h1>
<div class="section-1">
  <%= image_tag 'about-us-1.jpg' %>
</div>
<div class="section-2">
  <%= image_tag 'about-us-2.jpg' %>
</div>
<div class="section-3">
  <%= image_tag 'about-us-3.jpg' %>
</div>
