// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  max-height: 25px;
  max-width: 30%;  
  overflow: visible;
  padding-top: 10;
  padding-bottom: 0; 
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
// .column {
//   @extend .col-md-6;
//   @extend .text-center;
//   }
// .form {
//   @extend .col-md-6;
//   }
// .form-centered {
//   @extend .col-md-6;
//   @extend .text-center;
//   }
// .submit {
//   @extend .btn;
//   @extend .btn-primary;
//   @extend .btn-lg;
//   }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #f8f9fb;
  padding-bottom: 0px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }
  
body {
  font-family: 'Century Gothic';  
  }
  
    
input.btn-success.btn-lg.center-block {
  background-color: #69d290;
  border-color:  #69d290;
  font-family: 'Century Gothic';
  border-radius: 3px;
  padding: 17px 16px;
  border-style: none;
  }

div.well.well-lg.col-xs-5 {
  background-color: #d6d6d6;
  width: 30%;
  }

div.well.well-lg.col-xs-7 {
  background-color: #f4f0f0;
  width: 70%;
  }

div.jumbotron {
  background-color: #f8f9fb;
  color:#828286;
  }
  
ul {
    list-style-position: inside;
}

h2 {
  color: #FFFFFF;
  }

.form-control {
  background-color: #f4f0f0;
  width: 140%;
  height: 45px;
  }

.navbar-default {
    background-color: #FFFFFF;
    }

.navbar {
    min-height: 60px;
    font-size: 19px;
    }
  
.container {
    padding-left: 0px;
    padding-right: 0px;
    }

//banner1 styling

img[src="http://peeach.com/wp-content/uploads/2016/06/banner1.jpg"] {
    position: relative;
    height: 725px;
    }

div.banner1 {
    height: 725px;
    }

div.banner1 h1 {
    position: absolute;
    margin-left: 150px;
    top: 150px;
    font-size: 70px;
    color: white;
    font-weight: bold;
    }

div.banner1 h2 {
    position: absolute;
    margin-left: 160px;
    top: 240px;
    }

div.banner1 h3 {
    position: absolute;
    margin-left: 200px;
    color: white;
    top: 300px;
    }

.btn-large.btn-success.book.a.tutor {
    background-color: #f3b840;
    border-color: #f3b840;
    font-family: 'Century Gothic';
    border-radius: 3px;
    padding: 17px 16px;
    border-style: none;
    margin-left: 625px;
    margin-right: 500px;
    margin-top: 55px;
    width: 200px;
    font-size: 18px;
    }


//banner2 styling

img[src="http://peeach.com/wp-content/uploads/2016/05/university-of-calgary.png"] {
    position: absolute;
    left: 800px;
    top: 5px;
    }
    
img[src="http://peeach.com/wp-content/uploads/2016/05/university-of-calgary.png"]:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    }

img[src="http://peeach.com/wp-content/uploads/2016/05/UOFA-1.png"] {
    position: absolute;
    left: 950px;
    top: 5px
    }
    
img[src="http://peeach.com/wp-content/uploads/2016/05/UOFA-1.png"]:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    }    

img[src="http://peeach.com/wp-content/uploads/2016/05/UBC.png"] {
    position: absolute;
    left: 1100px;
    top: 5px;
    }
    
img[src="http://peeach.com/wp-content/uploads/2016/05/UBC.png"]:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    }        
    
img[src="http://peeach.com/wp-content/uploads/2016/05/logo_uoft.png"] {
    position: absolute;
    left: 1250px;
    top: 5px;
    }

img[src="http://peeach.com/wp-content/uploads/2016/05/logo_uoft.png"]:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    }       
    
div.banner2 { 
    height: 150px;
    background-color: #f8f9fb;
    position: relative;
    }

div.banner2 h3{
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 800px;
    font-size: 30px;
    }

.imgContainer {
    float: right;
    }
    

//banner3 styling

div.banner3 { 
    height: 400px;
    background-color: #ffffff;
    }

div.banner3 h3 {
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 750px;
    margin-right: 50px;
    padding-top: 30px;
    
    }

div.banner3 h4 {
    margin-left: 750px;
    margin-right: 50px;
    }

img[src="http://peeach.com/wp-content/uploads/2016/05/placeit-51-copy.png"] {
    position: absolute;
    float: left;
    margin-left: 100px;
    height: 400px;
    width: 550px;
    }

    
//banner4 syling

div.banner4 { 
    height: 150px;
    background-color: #f8f9fa;
    }

.btn-large.btn-success.be.a.tutor {
    background-color: #f3b840;
    border-color: #f3b840;
    font-family: 'Century Gothic';
    border-radius: 3px;
    padding: 17px 16px;
    border-style: none;
    margin-left: 625px;
    margin-right: 500px;
    margin-top: 55px;
    width: 200px;
    font-size: 18px;
    }

//banner5 styling

div.banner5 { 
    height: 400px;
    background-color: #ffffff;
    }

div.banner5 h3 {
    padding-top: 30px;
    margin-left: 50px;
    margin-right: 700px;
    }

img[src="http://peeach.com/wp-content/uploads/2016/05/placeit-58.png"] {
    float: right;
    margin-right: 100px;
    height: 400px;
    width: 550px;
    }
    
//banner6 styling

div.banner6 { 
    height: 400px;
    background-color: #b0bcc2;
    position: relative;
    }
    
img[src="http://peeach.com/wp-content/uploads/2016/06/Banner5.jpg"] {
    position: relative;
    }
    

.btn-large.btn-success.book.now {
    background-color: #69d290;
    border-color: #69d290;
    font-family: 'Century Gothic';
    border-radius: 3px;
    padding: 17px 16px;
    border-style: none;
    width: 200px;
    margin-left: 625px;
    margin-right: 500px;
    font-size: 18px;
    position: absolute; 
    top: 250px;
    }

.navbar-nav {
    paddding-top: 20px;
    padding-bottom: 30px;
    }
    
//footer styling

div.footer {
    background-color: #2D3235;
    height: 350px;
    }
    
div.footer h3 {
    color: #FFFFFF;
    }
    
div.col-lg-4 {
    left: 200px;
    top:    20px;
    }
    
div.col-lg-5 {
    left: 150px;
    top:     20px;
    }
    
div.col-lg-6 {
    left: 600px;
    top: -130px;
    }


