<div class="footer">
  <div class="row">
    <div class="col-lg-4">
      <h3>About Peeach</h3>
      <ul class="list-unstyled">
        <li><%= link_to 'Our Story', '#' %></li>
        <li><%= link_to 'Customer Success Stories', '#' %></li>
      </ul>
      <h3>Company</h3>
      <ul class="list-unstyled">
        <li><%= link_to 'FAQS', '#' %></li>
        <li><%= link_to 'Press', '#' %></li>
        <li><b><%= link_to 'Become A Tutor', '#' %></b></li>
      </ul>
    </div>
    <div class="col-lg-5">
      <h3>Policies</h3>
      <ul class="list-unstyled">
        <li><%= link_to 'Privacy Policy', '#' %></li>
        <li><%= link_to 'Terms of Service', '#' %></li>
      </ul>
      <h3>Find Us on Social Media</h3>
    </div>
    <div class="col-lg-6">
      <h3>Connect With Us</h3>
      <ul class="list-unstyled">
        <li><b><font color="white">Client Happiness Team</font></b></li>
        <li><%= mail_to "happiness@peeach.com" %></li>
        <li><b><font color="white">General Inquiries</font></b></li>
        <li><%= mail_to "info@peeach.com" %></li>
      </ul>
    </div>
  </div>
</div>
