<%# add navigation links to this file %>
<li class="dropdown">
  <%= link_to '#', class: "dropdown-toggle", role: "button", data: { toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" } do %>
    Tutors <span class="caret"></span>
  <% end %>
  <ul class="dropdown-menu">
    <li><%= link_to 'Action', '#' %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to 'Link', '#' %></li>
  </ul>
</li>

<li><%= link_to 'Features', '#' %></li>
